<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Test</title>
    <link rel="stylesheet" href="output.css" />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.8.1/flowbite.min.css"
      rel="stylesheet"
    />
    <link rel="icon" type="image/svg+xml" href="application-logo.svg" />
    <link rel="stylesheet" type="font/woff" href="Khand-Medium.woff" />
    <link rel="preconnect" href="https://rsms.me/" />
    <link rel="stylesheet" href="https://rsms.me/inter/inter.css" />
  </head>
  <body class="dark:bg-gray-700">
    <%- include("nav"); %>
  </body>
</html>
