<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Test</title>
        <link rel="stylesheet" href="output.css" />
    </head>
    <body class="m-8 dark:bg-gray-700">
        <header>
            <nav>
                
            </nav>
        </header>
        <main>
            <%- include("table") %>
        </main>
        <footer>
            <p>&copy; 2021 My Website</p>            
        </footer>
    </body>
</html>
