<header class="bg-white">
  <div
    class="mx-auto flex h-16 max-w-screen-xl items-center gap-8 px-4 sm:px-6 lg:px-8 dark:bg-gray-800"
  >
    <!-- Icon -->
    <a class="block text-teal-600" href="/home">
      <span class="sr-only">Home</span>
      <svg 
        xmlns="http://www.w3.org/2000/svg" 
        xmlns:xlink="http://www.w3.org/1999/xlink" 
        heigth="3em"
        width="3em"
        zoomAndPan="magnify" 
        viewBox="0 0 375 374.999991" 
        preserveAspectRatio="xMidYMid meet" 
        version="1.0">
        <defs><clipPath id="c6a21d017e"><path d="M 84 199 L 324 199 L 324 326.59375 L 84 326.59375 Z M 84 199 " clip-rule="nonzero"/></clipPath><clipPath id="b2a085f4ef"><path d="M 46.761719 48.34375 L 323 48.34375 L 323 257 L 46.761719 257 Z M 46.761719 48.34375 " clip-rule="nonzero"/></clipPath></defs><path fill="#0a3069" d="M 245.640625 274.332031 C 257.574219 266.066406 267.789062 255.355469 275.507812 242.734375 L 269.070312 231.574219 C 255.359375 235.171875 240.757812 237.046875 225.53125 238.476562 L 245.640625 274.332031 " fill-opacity="1" fill-rule="nonzero"/><path fill="#0a3069" d="M 185.503906 169.101562 L 198.703125 191.976562 C 201.621094 191.855469 204.554688 191.742188 207.503906 191.625 C 219.960938 191.136719 232.542969 190.640625 244.886719 189.667969 L 185.503906 86.75 L 118.195312 203.402344 C 134.128906 197.621094 152.179688 194.96875 171.433594 193.484375 L 185.503906 169.101562 " fill-opacity="1" fill-rule="nonzero"/><g clip-path="url(#c6a21d017e)"><path fill="#0a3069" d="M 294.332031 223 C 279.390625 268.855469 236.320312 301.992188 185.507812 301.992188 C 159.371094 301.992188 135.285156 293.222656 116.019531 278.46875 C 125.761719 257.457031 154.125 244.753906 154.125 244.753906 C 130.308594 246.308594 95.144531 270.582031 84.992188 283.140625 C 110.261719 309.714844 145.949219 326.28125 185.507812 326.28125 C 258.15625 326.28125 317.753906 270.402344 323.734375 199.257812 C 315.371094 209.738281 305.398438 217.367188 294.332031 223 " fill-opacity="1" fill-rule="nonzero"/></g><path fill="#80ccff" d="M 327.996094 175.269531 C 242.460938 230.175781 75.964844 153.429688 69.273438 288.1875 C 139.980469 191.917969 283.613281 271.851562 327.996094 175.269531 " fill-opacity="1" fill-rule="nonzero"/><g clip-path="url(#b2a085f4ef)"><path fill="#80ccff" d="M 185.507812 48.65625 C 108.886719 48.65625 46.777344 110.804688 46.777344 187.46875 C 46.777344 212.78125 53.546875 236.503906 65.375 256.929688 C 68.507812 246.515625 73.0625 237.441406 79.074219 229.667969 C 73.898438 216.609375 71.050781 202.371094 71.050781 187.46875 C 71.050781 124.222656 122.292969 72.949219 185.507812 72.949219 C 240.160156 72.949219 285.867188 111.28125 297.238281 162.542969 C 288.105469 177.910156 264.511719 186.410156 264.511719 186.410156 C 291.886719 187.296875 315.742188 172.503906 322.867188 167.972656 C 313.394531 100.542969 255.507812 48.65625 185.507812 48.65625 " fill-opacity="1" fill-rule="nonzero"/></g></svg>
    </a>

    <!-- Navigation Sections -->
    <div class="flex flex-1 items-center justify-end md:justify-between">
      <nav aria-label="Global" class="hidden md:block">
        <ul class="flex items-center gap-6 text-sm">
          <li>
            <a class="text-gray-500 transition hover:text-gray-500/75" href="/">
              Applications
            </a>
          </li>

          <li>
            <a class="text-gray-500 transition hover:text-gray-500/75" href="/">
              New Application
            </a>
          </li>

          <li>
            <a class="text-gray-500 transition hover:text-gray-500/75" href="/">
                Personal Data
            </a>
          </li>

        </ul>
      </nav>

      <div class="flex items-center gap-4">
        <div class="sm:flex sm:gap-4">
          <!-- Dark Mode Button -->
          <button id="darkBtn" class="btn btn-circle">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              height="1.5em"
              viewBox="0 0 384 512"
            >
              <!--! Font Awesome Free 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. -->
              <path
                d="M223.5 32C100 32 0 132.3 0 256S100 480 223.5 480c60.6 0 115.5-24.2 155.8-63.4c5-4.9 6.3-12.5 3.1-18.7s-10.1-9.7-17-8.5c-9.8 1.7-19.8 2.6-30.1 2.6c-96.9 0-175.5-78.8-175.5-176c0-65.8 36-123.1 89.3-153.3c6.1-3.5 9.2-10.5 7.7-17.3s-7.3-11.9-14.3-12.5c-6.3-.5-12.6-.8-19-.8z"
              />
            </svg>
          </button>
          <button id="lightBtn" class="btn btn-circle dark:hidden">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              height="1.5em"
              viewBox="0 0 512 512"
            >
              <!--! Font Awesome Free 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. -->
              <path
                d="M361.5 1.2c5 2.1 8.6 6.6 9.6 11.9L391 121l107.9 19.8c5.3 1 9.8 4.6 11.9 9.6s1.5 10.7-1.6 15.2L446.9 256l62.3 90.3c3.1 4.5 3.7 10.2 1.6 15.2s-6.6 8.6-11.9 9.6L391 391 371.1 498.9c-1 5.3-4.6 9.8-9.6 11.9s-10.7 1.5-15.2-1.6L256 446.9l-90.3 62.3c-4.5 3.1-10.2 3.7-15.2 1.6s-8.6-6.6-9.6-11.9L121 391 13.1 371.1c-5.3-1-9.8-4.6-11.9-9.6s-1.5-10.7 1.6-15.2L65.1 256 2.8 165.7c-3.1-4.5-3.7-10.2-1.6-15.2s6.6-8.6 11.9-9.6L121 121 140.9 13.1c1-5.3 4.6-9.8 9.6-11.9s10.7-1.5 15.2 1.6L256 65.1 346.3 2.8c4.5-3.1 10.2-3.7 15.2-1.6zM160 256a96 96 0 1 1 192 0 96 96 0 1 1 -192 0zm224 0a128 128 0 1 0 -256 0 128 128 0 1 0 256 0z"
              />
            </svg>
          </button>

          <a href="https://github.com/mokoe004/tailwind-calculator">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              height="1.5em"
              viewBox="0 0 496 512"
            >
              <!--! Font Awesome Free 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. -->
              <style>
                svg {
                  fill: #979ca2;
                }
              </style>
              <path
                d="M165.9 397.4c0 2-2.3 3.6-5.2 3.6-3.3.3-5.6-1.3-5.6-3.6 0-2 2.3-3.6 5.2-3.6 3-.3 5.6 1.3 5.6 3.6zm-31.1-4.5c-.7 2 1.3 4.3 4.3 4.9 2.6 1 5.6 0 6.2-2s-1.3-4.3-4.3-5.2c-2.6-.7-5.5.3-6.2 2.3zm44.2-1.7c-2.9.7-4.9 2.6-4.6 4.9.3 2 2.9 3.3 5.9 2.6 2.9-.7 4.9-2.6 4.6-4.6-.3-1.9-3-3.2-5.9-2.9zM244.8 8C106.1 8 0 113.3 0 252c0 110.9 69.8 205.8 169.5 239.2 12.8 2.3 17.3-5.6 17.3-12.1 0-6.2-.3-40.4-.3-61.4 0 0-70 15-84.7-29.8 0 0-11.4-29.1-27.8-36.6 0 0-22.9-15.7 1.6-15.4 0 0 24.9 2 38.6 25.8 21.9 38.6 58.6 27.5 72.9 20.9 2.3-16 8.8-27.1 16-33.7-55.9-6.2-112.3-14.3-112.3-110.5 0-27.5 7.6-41.3 23.6-58.9-2.6-6.5-11.1-33.3 2.6-67.9 20.9-6.5 69 27 69 27 20-5.6 41.5-8.5 62.8-8.5s42.8 2.9 62.8 8.5c0 0 48.1-33.6 69-27 13.7 34.7 5.2 61.4 2.6 67.9 16 17.7 25.8 31.5 25.8 58.9 0 96.5-58.9 104.2-114.8 110.5 9.2 7.9 17 22.9 17 46.4 0 33.7-.3 75.4-.3 83.6 0 6.5 4.6 14.4 17.3 12.1C428.2 457.8 496 362.9 496 252 496 113.3 383.5 8 244.8 8zM97.2 352.9c-1.3 1-1 3.3.7 5.2 1.6 1.6 3.9 2.3 5.2 1 1.3-1 1-3.3-.7-5.2-1.6-1.6-3.9-2.3-5.2-1zm-10.8-8.1c-.7 1.3.3 2.9 2.3 3.9 1.6 1 3.6.7 4.3-.7.7-1.3-.3-2.9-2.3-3.9-2-.6-3.6-.3-4.3.7zm32.4 35.6c-1.6 1.3-1 4.3 1.3 6.2 2.3 2.3 5.2 2.6 6.5 1 1.3-1.3.7-4.3-1.3-6.2-2.2-2.3-5.2-2.6-6.5-1zm-11.4-14.7c-1.6 1-1.6 3.6 0 5.9 1.6 2.3 4.3 3.3 5.6 2.3 1.6-1.3 1.6-3.9 0-6.2-1.4-2.3-4-3.3-5.6-2z"
              />
            </svg>
          </a>
        </div>

        <button
          class="block rounded bg-gray-100 p-2.5 text-gray-600 transition hover:text-gray-600/75 md:hidden"
        >
          <span class="sr-only">Toggle menu</span>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="h-5 w-5"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
            stroke-width="2"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M4 6h16M4 12h16M4 18h16"
            />
          </svg>
        </button>
      </div>
    </div>
  </div>
</header>
